body {
  background-color: #23252b;
}

.app{
  text-align: center;
  padding-bottom: 70px;
}

.app > h1 {
  color: white;
}

.app > form {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
}

.app > form > input {
  padding: 20px;
  flex: 1
}

.app > form > button {
  padding: 20px;
}

.chatMessage{
  color: red;
}